<div style="background-image: url('<%= image_path "banner.svg" %>');" class="banner">
  <h1>School's Dashboard</h1>
  <div class="search">
    <%= form_tag(professional_schools_path, method: "get") do %>
    <%= text_field_tag :name, params[:name], class:"w-1/2 rounded-bl-md rounded-tl-md h-10" %>
    <%= submit_tag "Search", class:"w-24 rounded-br-md rounded-tr-md h-10" %>
    <% end %>
  </div>
</div>


<div class="flex">
  <div class="w-2/12 py-12">
    <div class="flex text-center">
      <div>
        <p class="pb-2 text-lg">Enter an email to invite a school</p>
        <%= form_for(:school, url: professional_schools_invite_path) do |f| %>
          <%= f.text_field :email, class:'bg-gray-200 appearance-none border-2 border-gray-200 rounded w-5/6 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple mb-5', placeholder: "School mail"%>
          <%= f.button 'Send an invitation', class:'btn btn-pink text-xl mb-16' %>
        <% end %>
      </div>
    </div>
    <div class="filterscheckbox">
      <div class="flex text-center ml-8">
        <p class="font-bold pb-5 text-xl">School types</p>
      </div>
      <label class="flex text-center ml-8">
        <div class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
          <input type="checkbox" checked class="opacity-0 absolute" data-category='nursery'>
          <svg class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
        </div>
        <div class="select-none pb-3">Nursery school</div>
      </label>

      <style>
        input:checked + svg {
          display: block;
        }
      </style>
      <label class="flex text-center ml-8">
        <div class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
          <input type="checkbox" checked class="opacity-0 absolute" data-category='elementary'>
          <svg class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
         </div>
         <div class="select-none pb-3">Elementary school</div>
      </label>

      <style>
        input:checked + svg {
          display: block;
        }
      </style>
      <label class="flex text-center ml-8">
        <div class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
          <input type="checkbox" checked class="opacity-0 absolute" data-category='comprehensive'>
          <svg class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
         </div>
         <div class="select-none pb-3">Comprehensive school</div>
      </label>

      <style>
        input:checked + svg {
          display: block;
        }
      </style>
    </div>
  </div>

  <div class="w-7/12 py-12 pl-20">
    <% @schools.each do |school| %>
    <div class="w-5/6 card-school" data-category="<%= school.category %>">
      <div class="flex items-center justify-between border-b-2 px-4 py-2">
        <div><img class="w-8" src="https://image.flaticon.com/icons/svg/1523/1523895.svg"></div>
          <p>
          <%= link_to professional_school_path(school.id) do %>
            <div class="font-bold"><%= school.name %></div>
            <div class="text-gray-500"><%= school.address %></div>
          <% end %>
          </p>
          <div class="w-20"><%= image_tag("sent.png") %></div>
      </div>
    </div>
    <% end %>
  </div>


  <div class="w-2/12">
    <div class="max-w-xs rounded-lg overflow-hidden shadow bg-white z-1 mb-16" style="margin-top: -118px">
      <div class="px-10 pt-6 pb-10">
        <div class="text-4xl text-purple h-8 mb-2">Hello</div>
          <div class="font-bold text-4xl text-purple pb-2 border-b-2"><%= current_photographer.fullname %></div>
            <div class="flex py-3 font-bold text-lg text-gray-500 justify-center">January</div>
              <div class="flex justify-between">
                <div class="flex justify-start">
                  <p class="pt-3 text-lg text-gray-500">£ </p>
                    <p class="py-3 font-bold text-lg pl-1">3 309</p>
                </div>
                <div class="flex justify-end">
                  <p class="py-3 font-bold text-lg">280</p>
                  <p class="pt-3 text-lg text-gray-500 pl-1"> students</p>
                </div>
              </div>
              <div class="flex justify-between pb-3 border-b-2">
                <div class="flex justify-start">
                  <p class="py-3 font-bold text-lg pr-1">24</p>
                  <p class="pt-3 text-lg text-gray-500 pr-3"> classrooms</p>
                </div>
                <div class="flex justify-end">
                  <p class="py-3 font-bold text-lg">11</p>
                  <p class="pt-3 text-lg text-gray-500 pl-1"> schools</p>
                </div>
              </div>
      </div>
    </div>
      <div class="max-w-xs rounded-lg overflow-y-auto h-64">
        <div class="px-10 py-6">
          <p class="font-bold pb-2 text-xl pb-5">Next shooting</p>
          <p>School Croix-Rousse</p>
          <div class="flex justify-between">
          <p class="text-purple font-bold">05.03.2020</p>
          <p class="text-purple pb-3">127 students</p>
          </div>
          <p>School Carmen</p>
          <div class="flex justify-between">
          <p class="text-purple font-bold">17.03.2020</p>
          <p class="text-purple pb-3">82 students</p>
          </div>
    </div>
  </div>

  <div class="w-1/12 h-12"></div>
</div>



