<div style="background-image: url('<%= image_path "banner.svg" %>');" class="banner">
  <h1>School's Dashboard</h1>
  <div class="search">
    <%= form_tag(professional_schools_path, method: "get") do %>
    <%= text_field_tag :name, params[:name], class:"w-1/2 rounded-bl-md rounded-tl-md h-10" %>
    <%= submit_tag "Search", class:"w-24 rounded-br-md rounded-tr-md h-10" %>
    <% end %>
  </div>
</div>

<!-- <%= image_tag ('banner.svg') %> -->
<div class=" flex mx-auto mr-48 justify-end">
  <div class="max-w-xs rounded-lg overflow-hidden shadow bg-white absolute z-1 " style="margin-top: -118px">
    <div class="px-10 pt-6 pb-10">
      <div class="text-4xl text-purple h-8 mb-2">Hello</div>
      <div class="font-bold text-4xl text-purple pb-2 border-b-2"><%= current_photographer.fullname %></div>
      <div class="flex py-3 font-bold text-lg text-gray-500 justify-center">January</div>
      <div class="flex justify-between">
        <div class="flex justify-start">
          <p class="pt-3 text-lg text-gray-500">£ </p>
          <p class="py-3 font-bold text-lg pl-1">3 309</p>
        </div>
        <div class="flex justify-end">
          <p class="py-3 font-bold text-lg">280</p>
          <p class="pt-3 text-lg text-gray-500 pl-1"> students</p>
        </div>
      </div>
      <div class="flex justify-between pb-3 border-b-2">
        <div class="flex justify-start">
          <p class="py-3 font-bold text-lg pr-1">24</p>
          <p class="pt-3 text-lg text-gray-500 pr-3"> classrooms</p>
        </div>
        <div class="flex justify-end">
          <p class="py-3 font-bold text-lg">11</p>
          <p class="pt-3 text-lg text-gray-500 pl-1"> schools</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="w-3/4 mx-auto pt-12 pb-12">
  <% @schools.each do |school| %>
    <div class="w-3/4">
      <div class="flex items-center justify-between border-b-2 px-4 py-2">
        <div><img class="w-8" src="https://image.flaticon.com/icons/svg/1523/1523895.svg"></div>
        <p>
          <%= link_to professional_school_path(school.id) do %>
            <div class="font-bold"><%= school.name %></p></div>
            <div class="text-gray-500"><%= school.address %></div>
          <% end %>
            <div class="w-20"><%= image_tag("sent.png") %></div>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= form_for(:school, url: professional_schools_invite_path) do |f| %>
  <%= f.label :School_mail %> :
  <%= f.text_field :email %>
  <br>
  <%= f.submit 'Send an invitation' %>
<% end %>
