<div class="navbar">
  <div class="logo" >
    <%= image_tag("logo", class:"w-12") %>
  </div>
  <a href="#" class="logout">Log out</a>
</div>

<div class="banner">
  <h1>School's Dashboard</h1>
  <div class="search">
    <%= form_tag(professional_schools_path, method: "get") do %>
    <%= text_field_tag :name, params[:name], class:"w-1/2 rounded-bl-md rounded-tl-md h-10" %>
    <%= submit_tag "Search", class:"w-24 rounded-br-md rounded-tr-md h-10" %>
    <% end %>
  </div>
</div>


<div class=" flex container mx-auto mr-48 justify-end">
  <div class="max-w-xs rounded-lg overflow-hidden shadow bg-white absolute z-1 " style="margin-top: -118px">
    <div class="px-10 pt-6 pb-10">
      <div class="text-4xl text-purple h-8">Hello</div>
      <div class="font-bold text-4xl text-purple pb-2 border-b-2">Bernard</div>
      <div class="flex py-3 font-bold text-lg text-gray-500 justify-center">January</div>
      <div class="flex justify-between">
        <div class="flex justify-start">
          <p class="pt-3 text-lg text-gray-500">£ </p>
          <p class="py-3 font-bold text-lg pl-1"> 3 309</p>
        </div>
        <div class="flex justify-end">
          <p class="py-3 font-bold text-lg">280 </p>
          <p class="pt-3 text-lg text-gray-500 pl-1"> students</p>
        </div>
      </div>
      <div class="flex justify-between pb-3 border-b-2">
        <div class="flex justify-start">
          <p class="py-3 font-bold text-lg pr-1">24 </p>
          <p class="pt-3 text-lg text-gray-500 pr-3"> classrooms</p>
        </div>
        <div class="flex justify-end">
          <p class="py-3 font-bold text-lg">11 </p>
          <p class="pt-3 text-lg text-gray-500 pl-1"> schools</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mx-auto pt-12 pb-12">
  <% @schools.each do |school| %>
    <div class="w-3/4">
      <div class="flex items-center justify-between border-b-2 px-4 py-2">
        <div><img class="w-8" src="https://image.flaticon.com/icons/svg/1523/1523895.svg"></div>
        <p>
          <%= link_to professional_school_path(school.id) do %>
            <div class="font-bold"><p><%= school.name %></p></div>
            <div class="text-gray-500"><%= school.address %></div>
            <div class="w-20"><%= image_tag("Envoyé") %></div>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>


<!-- <div class="cbx">
  <input id="cbx" type="checkbox"/>
  <label for="cbx"></label>
  <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
    <path d="M2 8.36364L6.23077 12L13 2"></path>
  </svg>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <fegaussianblur in="SourceGraphic" stddeviation="4" result="blur"></fegaussianblur>
      <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" result="goo"></fecolormatrix>
      <feblend in="SourceGraphic" in2="goo"></feblend>
    </filter>
  </defs>
</svg>
</div>
 -->

