<div style="background-image: url('<%= image_path "banner.svg" %>');" class="banner">
  <h1>School's Dashboard</h1>
  <h2>Manage your classrooms folder below</h2>
</div>

<%= link_to professional_schools_path do %>
  <p class= "text-xl text-purple h-8 mt-4"> << Back to the list</p>
  <% end %>


<div class=" flex mx-auto mr-48 justify-end">
  <div class="max-w-xs rounded-lg overflow-hidden shadow bg-white absolute z-1 " style="margin-top: -140px">
    <div class="px-10 pt-6 pb-10">
      <div class="text-4xl text-purple h-8">School</div>
      <div class="font-bold text-4xl text-purple pb-8 border-b-2"><%= @school.name %></div>
      <div class="flex py-3 font-bold text-lg justify-start pt-4">Address:</div>
      <div class="flex justify-between">
        <div class="flex justify-start">
          <p class="pt-3 text-lg text-gray-500 pb-8 border-b-2"><%= @school.address %></p>
        </div>
      </div>
      <div class="flex py-3 font-bold text-lg justify-start pt-4">Contact:</div>
      <div class="flex justify-between">
        <div class="flex justify-start">
          <p class="pt-3 text-lg text-gray-500 pb-8 border-b-2"><%= @school.email %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @school.uploads? %>
<%= link_to professional_school_path(@school), method: :patch do %> <!-- status to be changed -->
  <button class= "btn-pink"> Send pictures</button>
  <!-- griser button ou alert-->
  <% end %>
<% end %>



<div class="containbox">
  <div class="addfolder" >
    <%= link_to new_professional_school_classroom_path(@school) do %>
    <%= image_tag("add_folder.svg") %>
    <% end %>
  </div>

  <% @school.classrooms.each do |classroom| %>
    <%= link_to professional_classroom_path(classroom.id) do %>
      <div class="folder-svg shadow-xl rounded-md h-24">
        <%= render "shared/folder_svg", color: ["purple", "green", "yellow", "red"].sample %>
        <p class="flex font-bold text-black m pl-5" style="margin-top: -35%"><%= classroom.name %></p>
      </div>
    <% end %>
  <% end %>
</div>


