<h1><%= "Import students to your => #{@classroom.name}" %></h1>

<br>

<%= form_for(:director, url: import_director_classroom_path) do |f| %>
  <%= f.file_field :csv %>
  <%= f.submit 'Save' %>
<% end %>

<%= link_to director_root_path do %>
  <p>Back to your dashboard</p>
<% end %>


<!-- #TODO: METTRE LA FORM DE MARIE / <%= form_for ([:professional, @school, @classroom]), html: {id: "drag"} do |f| %>
  <%= f.label :name, 'Classroom Name:' %>
  <%= f.text_field :name %>
  <div class="label"><%= f.label :photos %>
    <div class="dragndrop-form">Click or drop pictures here</div>
  <%= f.file_field :photos, multiple: true, direct_upload: true %></div>
  <p id="filename"></p>
  <%= f.submit %>
<% end %> -->

<!-- Students Photos -->
<h2>Photos</h2>

  <% if @classroom.photos.exists? %>
    <% @classroom.photos.each do |photo| %>
      <% if photo.photo_type %>
        <p>Photo de Groupe</p>
        <%= cl_image_tag photo.file.key %>
        <p>Photos Individuelles</p>
      <% else %>
        <%= cl_image_tag photo.file.key %>
      <% end %>
    <% end %>
  <% else %>
    <p>There is no picture uploaded yet!</p>
  <% end %>

<br>


<div class="text-gray-900 bg-gray-200">
    <div class="p-4 flex">
        <h1 class="text-3xl">
            <%= "#{@classroom.students.count} students in the classroom #{@classroom.name} :" %>
        </h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">Name</th>
                    <th class="text-left p-3 px-5">Email</th>
                    <th></th>
                </tr>
                <% @classroom.students.each do |student| %>
                <tr class="border-b hover:bg-purple-100 bg-gray-100">
                    <td class="p-3 px-5"><input type="text" value="user.name" class="bg-transparent"><%= student.name %></td>
                    <td class="p-3 px-5"><input type="text" value="user.email" class="bg-transparent"><%= student.email %></td>
                    <td class="p-3 px-5">
                    </td>
                    <td class="p-3 px-5 flex justify-end"><button type="button" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Edit</button><button type="button" class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
