<h1><%= "ADD STUDENTS TO THE CLASSROOM => #{@classroom.name}" %></h1>
<br>

<%= form_for(:director, url: import_director_classroom_path) do |f| %>
  <%= f.file_field :csv %>
  <%= f.submit %>
<% end %>
<br>

<ul>
  <p><%= "#{@classroom.students.count} students in the classroom #{@classroom.name} :" %></p>
  <br>
  <% @classroom.students.each do |student| %>
    <li>
      <%= student.name %>
      <%= student.email %>
    </li>
  <% end %>
</ul>
