<h1>Edit the classroom <%= @classroom.name %></h1>


<%= form_for([:professional, @classroom]) do |f| %>
  Name: <%= f.text_field :name %>
  <%= f.submit %>
<% end %>


<%= link_to professional_classroom_path(@classroom) do %>
  <p>Back</p>
  <% end %>
