<h1>Add a new classroom</h1>


<%= form_for ([:professional, @school, @classroom]), html: {id: "drag"} do |f| %>
  <%= f.label :name, 'Classroom Name:' %>
  <%= f.text_field :name %>
  <div class="label"><%= f.label :photos %>
    <div class="dragndrop-form">Click or drop pictures here</div>
  <%= f.file_field :photos, multiple: true, direct_upload: true %></div>
  <ul>
      <li id="filename"></li>
  </ul>
  <%= f.submit %>
<% end %>

<%= link_to professional_school_path(@school) do %>
  <p>Back</p>
  <% end %>
