<h1><%= @classroom.name %></h1>

<%= link_to edit_professional_classroom_path(@classroom.id) do %>
  <p>Edit this classroom</p>
  <% end %>

  <%= @classroom.photos.count %>
  <% if @classroom.photos.exists? %>
    <% @classroom.photos.each do |photo| %>
      <% if photo.photo_type %>
        <p>Photo de Groupe</p>
        <%= cl_image_tag photo.file.key, :opacity => 100, :effect => "brightness:20",
                  :width => 200, :overlay => "sample_watermark_ijogba" %>
        <p>Photos Individuelles</p>
      <% else %>
        <%= cl_image_tag photo.file.key, :opacity => 100, :effect => "brightness:20",
                  :width => 200, :overlay => "sample_watermark_ijogba" %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to professional_school_path(@classroom.school_id) do %>
  <p>Back to the list</p>
  <% end %>
