<div style="background-image: url('<%= image_path "banner.svg" %>');" class="banner relative">
  <div class="title-banner">
    <h1><%= @classroom.name %></h1>
    <% if @classroom.photos.exists? %>
    <h2><%= @classroom.photos.count %> photos</h2>
    <% else %>
    <h2>Vide</h2>
    <% end %>
  </div>
  <div id="particles-js"></div>
</div>

<div class="container-show">
  <div class="links back">
    <%= link_to professional_school_path(@classroom.school_id) do %>
      <p class="text-xl text-purple h-8 mt-4 font-bold">Retour aux écoles</p>
    <% end %>
  </div>
  <div class="links">
  <%= link_to edit_professional_classroom_path(@classroom.id) do %>
  <p class="btn btn-pink">Editer cette classe</p>
  <% end %>
</div>
  <% if @classroom.photos.exists? %>
  <h2 class="title grp">Photo de groupe</h2>
  <div class="container-grp">
      <% @classroom.photos.each do |photo| %>
        <% if photo.photo_type %>
          <%= cl_image_tag photo.file.key, :transformation=>[
          {:width=>248, :height=>165, :crop=>"fill"},
          {:effect=>"pixelate_faces:7"},
          {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:40", :opacity=>80, :width=>0.2,}
          ] %>
        <% end %>
      <% end %>
    </div>

    <h2 class="title ind">Photos individuelles</h2>
    <div class="container-ind">
      <% @classroom.photos.each do |photo| %>
        <% if !photo.photo_type %>
          <%= cl_image_tag photo.file.key, :transformation=>[
          {:width=>165, :height=>248, :crop=>"fill"},
          {:effect=>"pixelate_faces:7"},
          {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:40", :opacity=>80, :width=>0.2,}
          ] %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
