<div style="background-image: url('<%= image_path "banner.svg" %>');" class="banner">
  <h1><%= @classroom.name %></h1>
  <% if @classroom.photos.exists? %>
  <h2><%= @classroom.photos.count %> pictures</h2>
  <% else %>
  <h2>No pictures yet</h2>
  <% end %>
</div>

<div class="container-show">
  <div class="links back">
    <%= link_to professional_school_path(@classroom.school_id) do %>
      <p class="text-purple font-bold">Back to the list</p>
    <% end %>
  </div>
  <div class="links">
  <%= link_to edit_professional_classroom_path(@classroom.id) do %>
  <p class="btn-pink w-48 text-center px-3 py-1 rounded-lg">Edit this classroom</p>
  <% end %>
</div>
  <% if @classroom.photos.exists? %>
  <h2 class="title grp">Group picture</h2>
  <div class="container-grp">
      <% @classroom.photos.each do |photo| %>
        <% if photo.photo_type %>
          <%= cl_image_tag photo.file.key, :transformation=>[
          {:width=>248, :height=>165, :crop=>"fill"},
          {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:40", :opacity=>80, :width=>0.2,}] %>
        <% end %>
      <% end %>
    </div>

    <h2 class="title ind">Individual pictures</h2>
    <div class="container-ind">
      <% @classroom.photos.each do |photo| %>
        <% if !photo.photo_type %>
          <%= cl_image_tag photo.file.key, :transformation=>[
          {:width=>165, :height=>248, :crop=>"fill"},
          {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:40", :opacity=>80, :width=>0.2,}] %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
